<!DOCTYPE html >

<html lang="en">
<head>
	<link href='/css/styles.css' rel='stylesheet' />
	<title>WebTail Log</title>
</head>
<body>
<div id='header'> 
	<input type='text'><input type='button' value='REGEXP'>
	</div>
<div id='body'>
	<input type='text' id='log' weight='70%' readonly>
	</div>
<div id='footer'>Copyright DepositFiles</div>
</body>
</html>
